body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

body {
    background: rgb(11, 12, 47);
    background: linear-gradient(218deg, rgba(11, 12, 47, 1) 0%, rgba(66, 66, 66, 1) 100%)
}

 main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
}

.openBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.openBtn:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transform: scale(1.1);
    transform: perspective(1px) scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(247, 247, 245);
    border-radius: 10px;
    padding: 20px;
    max-width: 90%;
    width: 400px;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid rgb(230, 59, 59);
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.closeModal:hover {
    transform: perspective(1px) scale(1.1);
    background-color: rgb(230, 59, 59);
}

fieldset {
    border: none;
    padding: 0;
}

.modalTitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 4px solid #3498db;
    margin-right: 30%;
}

.inputTitle {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.requireBtn {
    width: 100%;
    border: 2px solid #3498db;
    background-color: transparent;
    color: #3498db;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: bold;
    text-transform: uppercase;
}

.requireBtn:hover {
    opacity: 1;
    background-color: #3498db;
    color: #fff;
}

@media (max-width: 600px) {
    .modal {
        width: 90%;
    }
}